@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#hideScroll::-webkit-scrollbar {
  width: 6px;
}

#hideScroll::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

#hideScroll::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

#hideScroll::-webkit-scrollbar-track {
  background-color: transparent;
}
