@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

#hideScroll::-webkit-scrollbar {
  width: 6px;
}

#hideScroll::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

#hideScroll::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

#hideScroll::-webkit-scrollbar-track {
  background-color: transparent;
}

#media > img {
  object-fit: cover !important;
}

#hide-svg svg {
  display: none;
}

#hide-svg span {
  width: max-content !important;
}

#hide-svg button {
  min-width: max-content !important;
  width: max-content !important;
  padding: 8px 16px !important;
  height: max-content !important;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}
